* {
    font-family: 'Montserrat', sans-serif;
}
html {
    background: white url('../img/bg-img.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.flexbox {
    display: flex;
    justify-content: center;
}
main section:first-child {
    text-align: center;
    padding: 10vh 0 5vh;
}
.styled-box {
    width: 50vw;
    margin: 0 auto 5vh;
    padding: 0 50px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid white;
}
input {
    border: 1px solid lightgray;
    padding: 2px;
    margin-bottom: 2px;
}
footer {
    text-align: center;
    background-color: white;
    padding: 2vh;
}

/* Navbar Style */
.nav-bg {
    background-color: rgba(255, 255, 255, 0.9);
}
nav {
    text-align: center;
    position: fixed;
    width: 100vw;
}
nav ol {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
nav li {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 10px;
}
nav a {
    font-size: 14px;
    font-weight: 600;
    color: black;
}
nav a:hover {
    color: green;
}

/* ----------------------------------- */

/* Headings Style */

h1 {
    font-size: 90px;
    font-family: 'Tangerine', cursive;
    margin: 0;
}
h2 {    
    font-size: 35px;
    margin: 50px 0;
}
h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
h4 {
    margin-bottom: 10px;
    font-size: 20px;
    padding: 0;
}

/* ----------------------------------- */

/* Registration Form Style */

.input-group,
.input-group input, 
.input-group label {
    width: 100%;
}
.input-group {
    margin-right: 20px;
}
button[type=submit] {
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: 600;
    padding: 15px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    border: 1px solid black;
}
button[type=submit]:hover {
    color: black;
    background-color: white;
    border: 1px solid lightgray;
}

/* ----------------------------------- */

/* Table Style */

table {
    width: 100%;
    margin-bottom: 50px;
}
table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
    background-color: white;
}
/* ----------------------------------- */

/* Alert Style */

.alert, .success-alert {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 7px;
    color: white;
}
.alert-remove {
    display: none;
}
.alert {
    background-color: rgba(245, 115, 136, 0.7);
}
.success-alert {
    background-color: rgba(115, 245, 137, 0.7);
}
.closeButton {
    padding: 0 5px;
    font-weight: 600;
    cursor: pointer;
}

/* ----------------------------------- */
/* RESPONSIVE */

/* For Tablets */
@media (orientation: landscape) and (max-width: 1034px) {
    .styled-box {
        padding: 0 30px;
    }
    main section:first-child {
        padding-top: 20vh;
        padding-bottom: 10vh;
    }    
    h2 {    
        font-size: 24px;
        margin: 40px 0;
    }    
    .styled-box {
        width: 80vw;
    }
    button[type=submit] {
        padding: 10px;
    }    
    .flexbox {
        flex-wrap: wrap;
    }    
}

@media (orientation: portrait) and (max-width: 1034px) {
    .styled-box {
        padding: 0 30px;
    }
    main section:first-child {
        padding-top: 10vh;
        padding-bottom: 7vh;
    }    
    h2 {    
        font-size: 24px;
        margin: 40px 0;
    }    
    .styled-box {
        width: 80vw;
    }
    button[type=submit] {
        padding: 10px;
    }    
    .flexbox {
        flex-wrap: wrap;
    }    
}

/* ----------------------------------- */

/* For Smartphones */

@media (orientation: portrait) and (max-width: 768px) {
    h1 {
        font-size: 70px;
    }    
    footer {
        font-size: 12px;
    }
    .styled-box {
        padding: 0 30px;
    }
    main section:first-child {
        padding-bottom: 7vh;
    }    
    h2 {    
        font-size: 24px;
        margin: 40px 0;
    }    
    .styled-box {
        width: 80vw;
    }
    button[type=submit] {
        padding: 10px;
    }    
    .flexbox {
        flex-wrap: wrap;
    }    
}

/* ----------------------------------- */
/* END OF RESPONSIVE*/